<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" href="http://mobile-print-dev:8000/media/style.css" rel="stylesheet" />
    <script type="application/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="application/javascript" src="http://mobile-print-dev:8000/media/script.js"></script>
    <title>{% block title %} print@mit {% endblock title %}</title>
  </head>
  <body>
    {% block body %}
	<p>Welcome to print@mit api.</pl>
    {% endblock body %}
  </body>
</html>
